version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "21:00"
    open-pull-requests-limit: 10
    
    groups:
      all-go-dependencies:
        patterns:
          - "*"  
    
    commit-message:
      prefix: "chore(deps)"
      prefix-development: "chore(deps-dev)"
      include: "scope"

    labels:
      - "dependencies"
      - "go"
